@layer base {
	html {
		scroll-behavior: smooth;
	}

	body {
		@apply bg-background font-fustat text-foreground font-medium uppercase antialiased;
	}

	*,
	:after,
	:before {
		box-sizing: border-box;
	}

	* {
		@apply outline-none;
		border-color: var(--color-border);
		scrollbar-width: thin;
		scrollbar-color: var(--color-border) transparent;
	}

	textarea {
		@apply resize-none;
	}

	a {
		@apply block cursor-pointer;
	}

	button {
		@apply cursor-pointer;
	}
}
